
body {
	margin:	0px;
}

a img {border: none; }


#logo {
	position:	absolute;
	top:			30px;
	left:			20px;
}
#motto {
	position:	relative;
	top:			-14px;
	left:			0px;
}
#menu {
	background:					#b3c9ff;
	position:					absolute;
	top:							120px;
	left:							20px;
	width:						200px;
	padding:						5px 0px;
	border-radius:				5px;
	-moz-border-radius:		5px;
	-webkit-border-radius:	5px;
}
#menu a {
	display:						block;
	padding:						5px 10px;
	color:						#000;
	text-decoration:			none;
}
#menu a:hover {
	background:					#c3d9ff;
}
#content {
	background:					#b3c9ff;
	position:					relative;
	top:							120px;
	left:							240px;
	width:					750px;
	margin-bottom:	150px;
	padding:						10px 10px 30px 10px;
	border-radius:				5px;
	-moz-border-radius:		5px;
	-webkit-border-radius:	5px;
}

h1 {
	margin-top:					0px;
}

form label {
	display:						inline-block;
	width:						100px;
}

form.labelsWide label {
	width:	160px;
}

table.pagetable {
	border-collapse:	collapse;
}

table.pagetable td:first-child {
	padding-left:	0px;
}








